__pycache__/
build/
dist/

*.spec
*.pyc

.pytest_cache/
.venv/
venv/

users.json
profiles.json
history.json
stats.json
settings.json
securevault.db
securevault.db-journal
securevault.db-wal
securevault.db-shm
*.db

encrypted/
quarantine/
storage/

app.exe
*.zip

tempCodeRunnerFile.py